<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a New Build</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{createBuild}" th:object="${build}" method="post">
    <div class="input-group">
        <span class="input-group-addon">Id:</span>
        <input class="form-control" type="text" placeholder="0000" th:field="*{id}"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Content:</span>
        <input class="form-control" type="text" placeholder="" th:field="*{content}"/>
    </div>
    <div class="btn-group">
        <input class="btn btn-default" type="submit" value="Save Build"/>
        <input class="btn btn-default" type="reset" value="Reset"/>
    </div>
</form>
</body>
</html>