!!! 5

head
    title gw2Items
    link(type='text/css', rel='stylesheet', href='css/bootstrap.min.css')

    script(type='text/javascript', language='javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', language='javascript', src='js/jquery-1.10.2.min.js')
body
    div.container
        block bodyContainer