!!! 5

head
    title gw2Items
    link(type='text/css', rel='stylesheet', href='../css/bootstrap.min.css')

    script(type='text/javascript', language='javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', language='javascript', src='../js/bootstrap.min.js')
body
    div.container
        block bodyContainer